//mobile
$m-title: (18px);
$m-subtitle: (14px);
$m-margin: (20px);

//tab
$t-title: (20px);
$t-subtitle: (16px);
$t-margin: (40px);

//4k high res
$hr-title: (24px);
$hr-subtitle: (20px);
$hr-margin: (150px);

//Laptop
$l-margin: (75px);

//computer
$margin: 100px;

//low-res

$lr-margin: 50px;
