@import '../abstracts/variables';
@import '../utils/mixins';

.error {
  margin-bottom: 60px;
  flex-grow: 1;
  .img {
    width: 597px;
    height: 263px;
    background-repeat: no-repeat;
    margin-top: 179px;
    @include center;
    background-image: url('../../sass/images/404.png');
    @media only screen and (min-width: 2560px) and (max-width: 3480px) {
      width: 1080px;
      height: 476px;
      background-size: contain;
      margin-top: 400px;
    }
    @media only screen and (max-width: 1024px) {
      width: 198px;
      height: 99px;
      background-image: url('../../sass/images/404-mini.png');
    }
  }
  p {
    margin-top: 90px;
    display: block;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    color: #ff6060;
    br {
      display: none;
    }
    @media only screen and (max-width: 1024px) {
      font-size: $m-title;
      margin: 0;
      max-width: 260px;
      text-align: center;
      line-height: 142.6%;
      @include center;
      br {
        display: block;
      }
    }
    @media only screen and (min-width: 2560px) and (max-width: 3480px) {
      font-size: 50px;
    }
  }
  .home {
    margin-top: 182px;
    display: block;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    text-decoration-line: underline;
    color: #ff6060;
    @media only screen and (min-width: 2560px) and (max-width: 3480px) {
      font-size: 24px;
    }
    @media only screen and (max-width: 1024px) {
      font-size: $m-subtitle;
    }
  }
}
