.error {
  margin-bottom: 60px;
  flex-grow: 1;
}
.error .img {
  width: 597px;
  height: 263px;
  background-repeat: no-repeat;
  margin-top: 179px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../../sass/images/404.png");
}
@media only screen and (min-width: 2560px) and (max-width: 3480px) {
  .error .img {
    width: 1080px;
    height: 476px;
    background-size: contain;
    margin-top: 400px;
  }
}
@media only screen and (max-width: 1024px) {
  .error .img {
    width: 198px;
    height: 99px;
    background-image: url("../../sass/images/404-mini.png");
  }
}
.error p {
  margin-top: 90px;
  display: block;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  color: #ff6060;
}
.error p br {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .error p {
    font-size: 18px;
    margin: 0;
    max-width: 260px;
    text-align: center;
    line-height: 142.6%;
    margin-left: auto;
    margin-right: auto;
  }
  .error p br {
    display: block;
  }
}
@media only screen and (min-width: 2560px) and (max-width: 3480px) {
  .error p {
    font-size: 50px;
  }
}
.error .home {
  margin-top: 182px;
  display: block;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  text-decoration-line: underline;
  color: #ff6060;
}
@media only screen and (min-width: 2560px) and (max-width: 3480px) {
  .error .home {
    font-size: 24px;
  }
}
@media only screen and (max-width: 1024px) {
  .error .home {
    font-size: 14px;
  }
}
