html {
  height: 100%;
}
html body {
  height: 100%;
}
html body #root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
html body #root .error {
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  font-size: 40px;
  font-family: "Montserrat";
  font-weight: 900;
}
@media only screen and (min-width: 385px) and (max-width: 615px) {
  html body #root .error {
    font-size: 25px;
  }
}
@media only screen and (max-width: 384px) {
  html body #root .error {
    font-size: 20px;
  }
}
html body #root .loader {
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
  margin-top: 250px;
}
html body #root .loader .lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
html body #root .loader .lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
html body #root .loader .lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #ff6060;
  margin: -4px 0 0 -4px;
}
html body #root .loader .lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
html body #root .loader .lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
html body #root .loader .lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
html body #root .loader .lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
html body #root .loader .lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
html body #root .loader .lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
html body #root .loader .lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
html body #root .loader .lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
html body #root .loader .lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
html body #root .loader .lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
html body #root .loader .lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
html body #root .loader .lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
html body #root .loader .lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
html body #root .loader .lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
html body #root .loader .lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
html body #root .loader .lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
html body #root .body {
  flex-grow: 1;
}
html body #root .body .carousel {
  width: auto;
  height: 415px;
  margin-left: 100px;
  margin-top: 25px;
  margin-right: 100px;
}
@media only screen and (max-width: 1024px) {
  html body #root .body .carousel {
    height: 255px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 768px) {
  html body #root .body .carousel {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  html body #root .body .carousel {
    margin-left: 40px;
    margin-right: 40px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  html body #root .body .carousel {
    height: 275px;
  }
}
@media only screen and (min-width: 2560px) and (max-width: 3480px) {
  html body #root .body .carousel {
    margin-left: 150px;
    margin-right: 150px;
  }
}
html body #root .body .carousel .index {
  position: absolute;
  left: 48.95%;
  right: 49.11%;
  top: 86.19%;
  bottom: 6.01%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 142.6%;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #ffffff;
}
@media screen and (max-width: 1023px) {
  html body #root .body .carousel .index {
    opacity: 0;
  }
}
html body #root .body .arrowleft {
  background: url(../../sass/images/arrows/leftarrow.png);
  position: absolute;
  left: 47px;
  top: 145px;
  height: 79.1999969482px;
  width: 46.6800041199px;
  cursor: pointer;
}
@media only screen and (max-width: 1023px) {
  html body #root .body .arrowleft {
    height: 19.8px;
    width: 11.67px;
    top: 0;
    margin-top: 118px;
    margin-left: 5.84px;
    left: 0;
    background: url(../../sass/images/arrows/arrowleft-mini.png);
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  html body #root .body .arrowleft {
    top: 0px;
    margin-top: 100px;
    left: 15px;
    background: url(../../sass/images/arrows/arrowleft-mid.png);
    height: 60px;
    width: 36px;
  }
}
html body #root .body .arrowright {
  background: url(../../sass/images/arrows/arrowright.png);
  position: absolute;
  right: 32px;
  top: 145px;
  height: 79.1999969482px;
  width: 46.6800041199px;
  cursor: pointer;
}
@media only screen and (max-width: 1023px) {
  html body #root .body .arrowright {
    height: 19.8px;
    width: 11.67px;
    top: 0;
    margin-top: 118px;
    margin-right: 5.84px;
    right: 0;
    background: url(../../sass/images/arrows/arrowright-mini.png);
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  html body #root .body .arrowright {
    top: 0px;
    margin-top: 100px;
    right: 15px;
    background: url(../../sass/images/arrows/arrowright-mid.png);
    height: 60px;
    width: 36px;
  }
}
html body #root .body .page {
  display: flex;
  flex-direction: column;
  width: auto;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;
  justify-content: space-between;
}
@media only screen and (max-width: 1024px) {
  html body #root .body .page {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  html body #root .body .page {
    margin-left: 40px;
    margin-right: 40px;
  }
}
@media only screen and (min-width: 2560px) and (max-width: 3480px) {
  html body #root .body .page {
    margin-left: 150px;
    margin-right: 150px;
  }
}
html body #root .body .page .topside {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 1024px) {
  html body #root .body .page .topside {
    flex-direction: column;
  }
}
html body #root .body .page .topside .head {
  display: flex;
  flex-direction: column;
}
html body #root .body .page .topside .head h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 142.6%;
  color: #ff6060;
}
@media screen and (min-width: 1921px) {
  html body #root .body .page .topside .head h1 {
    font-size: 1.302vw;
  }
}
@media only screen and (max-width: 768px) {
  html body #root .body .page .topside .head h1 {
    font-size: 18px;
    line-height: 25.67px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  html body #root .body .page .topside .head h1 {
    font-size: 20px;
    line-height: 27px;
  }
}
html body #root .body .page .topside .head h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 142.6%;
  color: #ff6060;
}
@media screen and (min-width: 1921px) {
  html body #root .body .page .topside .head h2 {
    font-size: 0.833vw;
  }
}
@media only screen and (max-width: 768px) {
  html body #root .body .page .topside .head h2 {
    font-size: 14px;
    margin-top: 5px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  html body #root .body .page .topside .head h2 {
    font-size: 16px;
    margin-top: 3px;
  }
}
html body #root .body .page .topside .head .tags {
  display: flex;
  margin-top: 20px;
}
@media only screen and (max-width: 1024px) {
  html body #root .body .page .topside .head .tags {
    margin-top: 10px;
  }
}
html body #root .body .page .topside .head .tags .tag {
  background: #ff6060;
  border-radius: 10px;
  width: 115px;
  height: 25px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 175%;
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 1921px) {
  html body #root .body .page .topside .head .tags .tag {
    width: 5.99vw;
    height: 1.302vw;
    font-size: 0.729vw;
  }
}
@media only screen and (max-width: 768px) {
  html body #root .body .page .topside .head .tags .tag {
    font-size: 10px;
    width: 84px;
    height: 18px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  html body #root .body .page .topside .head .tags .tag {
    font-size: 12px;
    width: 120px;
    height: 23px;
  }
}
html body #root .body .page .topside .head .tags .tag + .tag {
  margin-left: 10px;
}
@media screen and (min-width: 1921px) {
  html body #root .body .page .topside .head .tags .tag + .tag {
    margin-left: 20px;
  }
}
html body #root .body .page .topside .rightside {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 1024px) {
  html body #root .body .page .topside .rightside {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
html body #root .body .page .topside .rightside .host {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media only screen and (max-width: 992px) {
  html body #root .body .page .topside .rightside .host {
    margin-top: 16px;
  }
}
html body #root .body .page .topside .rightside .host .name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 142.6%;
  display: flex;
  align-items: flex-end;
  text-align: right;
  color: #ff6060;
  margin-right: 10px;
  width: 93px;
  word-spacing: 99rem;
}
@media screen and (min-width: 1921px) {
  html body #root .body .page .topside .rightside .host .name {
    font-size: 34px;
    margin-right: 50px;
  }
}
@media only screen and (max-width: 768px) {
  html body #root .body .page .topside .rightside .host .name {
    font-size: 12px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  html body #root .body .page .topside .rightside .host .name {
    font-size: 14px;
  }
}
html body #root .body .page .topside .rightside .host img {
  border-radius: 100px;
  height: 64px;
}
@media screen and (min-width: 1921px) {
  html body #root .body .page .topside .rightside .host img {
    height: 128px;
  }
}
@media only screen and (max-width: 768px) {
  html body #root .body .page .topside .rightside .host img {
    height: 32px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  html body #root .body .page .topside .rightside .host img {
    height: 50px;
  }
}
html body #root .body .page .topside .rightside .rating {
  display: flex;
  margin-top: 24px;
  width: 196px;
  justify-content: space-between;
}
@media only screen and (max-width: 1024px) {
  html body #root .body .page .topside .rightside .rating {
    width: 98px;
  }
}
html body #root .body .page .topside .rightside .rating i {
  color: #ff6060;
  font-size: 26.66px;
}
@media only screen and (max-width: 1024px) {
  html body #root .body .page .topside .rightside .rating i {
    font-size: 15px;
  }
}
html body #root .body .page .topside .rightside .rating .grey {
  color: lightgrey;
}
html body #root .body .page .more {
  display: flex;
  justify-content: space-between;
  margin-bottom: 160px;
}
@media only screen and (max-width: 1023px) {
  html body #root .body .page .more {
    flex-direction: column;
    margin-bottom: 60.5px;
  }
}
@media only screen and (min-width: 2560px) and (max-width: 3480px) {
  html body #root .body .page .more {
    margin-bottom: 400px;
  }
}
html body #root .body .page .more p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 20px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
@media screen and (min-width: 1921px) {
  html body #root .body .page .more p {
    font-size: 45px;
  }
}
@media only screen and (max-width: 1024px) {
  html body #root .body .page .more p {
    font-size: 13px;
    margin-left: 11.51px;
    padding: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  html body #root .body .page .more p {
    font-size: 15px;
  }
}
