body {
  margin: 0;
}

header {
  height: 68px;
  margin-top: 40px;
  width: 1720px;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 1024px) {
  header {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
  }
}
header .logo {
  width: 210.32px;
  height: 68px;
  background-image: url('./pics/LOGO.png');
}
@media only screen and (max-width: 992px) {
  header .logo {
    width: 145px;
    height: 47px;
    background-size: 145px 47px;
  }
}
header nav {
  width: 309px;
  display: flex;
  justify-content: space-between;
  height: 34px;
  margin-top: 15px;
}
@media only screen and (max-width: 992px) {
  header nav {
    width: 140px;
  }
}
header nav .accueil {
  display: inline;
  width: 136px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 142.6%;
  /* or 34px */
  display: flex;
  align-items: flex-end;
  text-align: right;
  text-decoration: none;
  color: #ff6060;
}
@media only screen and (max-width: 992px) {
  header nav .accueil {
    font-size: 12px;
    line-height: 17.11px;
    width: 59px;
  }
}
header nav .accueil:hover {
  text-decoration-line: underline;
}
header nav .about {
  width: 116px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 142.6%;
  /* or 34px */
  display: flex;
  align-items: flex-end;
  text-align: right;
  text-decoration: none;
  color: #ff6060;
}
@media only screen and (max-width: 992px) {
  header nav .about {
    font-size: 12px;
    line-height: 17.11px;
    width: 71px;
  }
}
header nav .about:hover {
  text-decoration-line: underline;
}
