@import '../abstracts/variables';

body {
  margin: 0;
}

header {
  height: 68px;
  margin-top: 40px;
  width: auto;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  justify-content: space-between;
  @media only screen and (max-width: 768px) {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
  }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
  }
  @media only screen and (min-width: 2560px) and (max-width: 3480px) {
    margin-left: $hr-margin;
    margin-right: $hr-margin;
  }
  .logo {
    width: 210.32px;
    height: 68px;
    background-image: url('./../../sass/images/LOGO.png');
    @media only screen and (max-width: 992px) {
      width: 145px;
      height: 47px;
      background-size: 145px 47px;
    }
  }
  nav {
    width: 309px;
    display: flex;
    justify-content: space-between;
    height: 34px;
    margin-top: 12px;
    @media only screen and (max-width: 992px) {
      width: 130px;
    }
    @media only screen and (min-width: 2560px) and (max-width: 3480px) {
      width: 350px;
    }
    .accueil {
      display: inline;
      width: 136px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 142.6%;
      display: flex;
      align-items: flex-end;
      text-align: right;
      text-decoration: none;
      @media only screen and (max-width: 992px) {
        font-size: 12px;
        line-height: 17.11px;
        width: 59px;
      }
      @media only screen and (min-width: 2560px) and (max-width: 3480px) {
        font-size: 30px;
        line-height: 100%;
      }
      &:hover {
        text-decoration-line: underline;
      }

      color: #ff6060;
    }
    .about {
      width: 116px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 142.6%;
      display: flex;
      align-items: flex-end;
      text-align: right;
      text-decoration: none;
      @media only screen and (max-width: 992px) {
        font-size: 12px;
        line-height: 17.11px;
        width: 71px;
      }
      @media only screen and (min-width: 2560px) and (max-width: 3480px) {
        font-size: 30px;
        width: 150px;
        line-height: 100%;
      }
      &:hover {
        text-decoration-line: underline;
      }

      color: #ff6060;
    }
  }
}
